---
import { getBrandById, getSetsByBrandId } from "../../content";
import Homepage from "../icons/Homepage.astro";
import Instagram from "../icons/Instagram.astro";
import Price from "../other/Price.astro";
import Set from "../sets/Set.compact.astro";
import T2 from "../T2.astro";
import Tags from "./Tags.astro";

const { id } = Astro.props;
const brand = await getBrandById(id);
if (!brand) return Astro.redirect("/404");
const { name, description_i18n, url, instagram } = brand.data;

const sets = await getSetsByBrandId(brand.id);
---

<div class="brand-layout">
  <div class="brand-side">
    <div class="brand-infos">
      <h2 class="brand-name">{name}</h2>
      <Tags brand={brand} />

      <div class="brand-links">
        <a class="brand-link brand-url" target="_blank" href={url}
          ><Homepage /></a
        >
        <a
          class="brand-link brand-instagram"
          target="_blank"
          href={`https://www.instagram.com/${instagram}`}><Instagram /></a
        >
      </div>
      <div class="brand-description">
        <T2 content={description_i18n} />
      </div>
    </div>
  </div>
  <div class="brand-sets">
    {sets.map((set) => <Set id={set.id} />)}
  </div>
</div>

<style>
  .brand-layout {
    display: grid;
    grid-template-columns: 301px 1fr;
    gap: var(--doubleSpacing);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  .brand-side {
    position: relative;
  }
  .brand-infos {
    position: sticky;
    top: var(--spacing);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: var(--halfSpacing);
    /* border: 1px solid #333; */
  }
  .brand-name {
    font-size: 4rem;

    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }
  .brand-links {
    display: flex;
    align-items: center;
    gap: var(--halfSpacing);
  }
  .brand-link {
    height: 24px;
    width: 24px;
    display: block;
    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .brand-sets {
    display: flex;
    flex-direction: column;
    gap: var(--doubleSpacing);
    background-color: white;
  }
  .brand-description {
    font-size: 1.3rem;
  }
</style>
